<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58861564595-48bpmuo02hap30l7thm51t4s7h1a41dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58861564595-48bpmuo02hap30l7thm51t4s7h1a41dp</string>
	<key>API_KEY</key>
	<string>AIzaSyCPqL6_jnNrgCri0lnQb4TgfXL-Iu1bjHY</string>
	<key>GCM_SENDER_ID</key>
	<string>58861564595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mancityfc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>man-city-6cdb9</string>
	<key>STORAGE_BUCKET</key>
	<string>man-city-6cdb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58861564595:ios:bbca050ebd0fb0797376c6</string>
</dict>
</plist>